{% extends 'base.html' %}
{% block content %}


    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4 container-sm bg-dark text-white" style="margin-top: 40px;">
            <form action="" method="post">
                <div class="form-header">
                    <h3>Update User</h3>
                </div>
                <div class="form-group">
                    <input type="hidden" class="form-control" data-validation="length alphanumeric"
                    data-validation-length="3-12" value="{{ id }}">
                </div>
                <div class="form-group">
                    <label for="">Username:</label>
                    <input type="text" class="form-control" data-validation="length alphanumeric"
                    data-validation-length="3-12" name="username" value="{{username}}">
                </div>
                <div class="form-group">
                    <label for="">Email:</label>
                    <input type="text" class="form-control"
                    name="email" value="{{ email }}">
                </div>

                <div class="form-group">
                    <label for="">password:</label>
                    <input type="text" class="form-control"
                    name="password" value="{{ password }}" >
                </div>

                <div class="form-group">
                <label for="usertype">Choose a User Type:</label>
                <select name="role">
                    <option value="user">User</option>
                    <option value="staff">Staff</option>
                    <option value="admin">Admin</option>
                    
                </select>
            </div>

                <br>
            </a>
            {% if session.role=="admin" %}
            <button class="btn btn-light " style="border-color: black;" type="submit">Update Product</button>
            {% endif %}
            </form>
        </div>
        <div class="col-sm-4">
        </div>
    </div>

{% endblock %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>